{:source-paths ["src"]
 :nrepl {:port 8777}

 :dependencies [[re-frame           "1.2.0"]
                [binaryage/devtools "1.0.3"]
                [metosin/reitit     "0.5.5"]
                [cljs-ajax          "0.8.3"]]

 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :module-hash-names false
                :modules {:app {:init-fn cell-console.main/init!}}
                :dev {:compiler-options {:infer-externs :auto}}
                :devtools {:preloads [devtools.preload]
                           :http-root "public"
                           :http-port 8280}}}}
